@if (IsBusy)
{
    <div class="h-full w-full bg-gray-900 opacity-40 z-10 @Classes">
    </div>
    <div class="h-full w-full grid place-content-center bg-transparent select-none z-20 @Classes">
        <div class="flex items-center gap-6 text-3xl font-bold text-gray-800">
            <span class="h-12 w-12 rounded-full border-8 border-t-red-600 animate-spin"></span>
            Loading...
        </div>
    </div>
}


